[Desktop Entry]
Name=Lock Jaw
GenericName=Markdown Notes
Comment=Fast, local-first markdown note-taking
Exec=lockjaw
Icon=io.github.cave_nerd.LockJaw
Type=Application
Categories=Utility;TextEditor;
Keywords=notes;markdown;editor;text;
StartupNotify=true
